.login-page {
  height: 100%;
  width: 100%;
  background-color: #393E46;

  &-wrapper {;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-sign-in-button {
    height: 50px;
    font-size: 25px;
  }
}
